<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodios de Stranger Things</title>
    <link rel="stylesheet" href="styleDetalleTemporada.css">
</head>
<body>

    
    <div id="app">

        <nav>
            <button @click="logout">Cerrar Sesión</button>
           
            <img src="casa.png" @click="goHome" class="clickable-image">
           
            <div class="user">
      
              <img src="usuario.png" alt="usuario">
              Sesion Iniciada como:  <span>{{ username }}</span>
            </div>
      
      
        </nav>

        
        <div class="background">

            <img :src="'https://image.tmdb.org/t/p/w500' + imgSeason" alt="Movie Poster">


            <div class="overlay"></div>
            <div class="content">
                <h1 id="txtEpisodios">{{ nameSeason }}</h1>
            </div>
        </div>

        <div class="episodes-container">
            <div class="episode" v-for="episode in episodios" :key="episode.id">
                <h2>Episodios temporada {{ episode.season_number }}</h2>
                <h3>{{ episode.name }} (Episodio {{ episode.episode_number }})</h3>
                <p>Fecha de estreno: {{ episode.air_date }}</p>
                <p>Sinopsis: {{ episode.overview }}</p>
                <p>Rating: {{ episode.vote_average }}</p>
                <div class="rating">
                    <span class="star" v-for="n in 10" :key="n" :class="{'filled': n <= episode.vote_average}">
                        &#9733;
                    </span>
                </div>
                <img :src="episode.still_path ? 'https://image.tmdb.org/t/p/w500' + episode.still_path : 'lostImg.png'" alt="Imagen de {{ episode.name }}" class="episode-image">

                <div class="guest-stars-container">
                    <h2>Estrellas Invitadas</h2>
                    <div class="guest-stars-carousel">
                        <div class="guest-star" v-for="star in episode.guest_stars" :key="star.id">
                            <img :src="star.profile_path ? 'https://image.tmdb.org/t/p/w500' + star.profile_path : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVVWOgsfJJhcNXuCxxBk1b2gda2EExA1C1aw&s'" 
                                 alt="Foto de {{ star.name }}" class="guest-star-photo">
                            <p>{{ star.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue;
        const urlParams = new URLSearchParams(window.location.search);
        const tvId = urlParams.get('id');
        const idSeason = urlParams.get('idSeason');
        const nameSeason = ref(urlParams.get('nameSeason'));
        const imgSeason = ref(urlParams.get('imgSeason'));

        createApp({
            setup() {
                const episodios = ref([]);
                const defaultImg = '.jpg';

                const fetchEpisodes = async (tvId, seasonNumber) => {
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    try {
                        const response = await fetch(`https://api.themoviedb.org/3/tv/${tvId}/season/${seasonNumber}?api_key=${apiKey}&language=en-US`);

                        if (!response.ok) {
                            throw new Error('Error al obtener los episodios');
                        }

                        const data = await response.json();
                        episodios.value = data.episodes;

                    } catch (error) {
                        console.error('Error:', error);
                    }
                    console.log(episodios.value);
                };

                fetchEpisodes(tvId, idSeason);

                return {
                    episodios,
                    nameSeason,
                    imgSeason: imgSeason || defaultImg
                };
            },
            methods: {
                goHome(){
                    window.location.href = `home.html`;

                },
                logout(){
                    localStorage.removeItem('username');
                    localStorage.removeItem('token'); 
                    window.location.href = 'login.html'; 
                },
            }
            

          
        }).mount('#app');

        let lastScrollTop = 0;
        const navBar = document.querySelector('nav');

        window.addEventListener('scroll', function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
            
            navBar.style.top = "-80px"; 
        } else {
            // Scrolling up
            navBar.style.top = "0"; 
        }

        lastScrollTop = scrollTop;
        });
    </script>
</body>
</html>
