<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleDetalleSerie.css">

</head>
<body>

   
    <div id="app">

       
        <nav>
            <button @click="logout">Cerrar Sesión</button>
           
            <img src="casa.png" @click="goHome" class="clickable-image">
           
            <div class="user">
      
              <img src="usuario.png" alt="usuario">
              Sesion Iniciada como:  <span>{{ username }}</span>
            </div>
      
      
        </nav>
        <div id="divDetailMovie">
            <div class="background">
                <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="Movie Poster">
                <div class="overlay"></div>
            </div>
            <div class="content">
                <h2>{{ serie.name }}</h2>
                <div class="movie-info">
                    <div class="movie-card">
                        <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="Movie Poster">
                    </div>
                    <div class="movie-details"> 
                        <p id="txtCategorias">
                            <strong>Categorías: </strong>
                            <span v-for="(genre, index) in serie.genres" :key="genre.id">
                                {{ genre.name }}<span v-if="index < serie.genres.length - 1">, </span>
                            </span>
                        </p>
                        <p class="rating">
                            <span v-for="star in 5" :key="star" class="star" :class="{ filled: star <= Math.round(serie.vote_average) }">&#9733;</span>
                            <span class="rating-value">{{ serie.vote_average }}</span>
                        </p>
                        <p class="overview">{{ serie.overview }}</p>
                    </div>
                </div>
                <input v-model="userRating" type="number" min="1" max="10" placeholder="Calificación (1-10)" class="rating-input">
                <button @click="addRate(serie.id)" class="rate-button">Añadir Rate</button>                
                <button @click="removeRate(serie.id)" class="remove-rate">Eliminar Rate</button>
                <button @click="addFavoriteSerie(serie.id)" class="favorite-button add">Añadir a favoritos</button>
                <button @click="removeFavoriteSerie(serie.id)" class="favorite-button remove">Quitar de favoritos</button>
            </div>
        </div>
        
       
        <div class="trailer">
            <div class="trailer-container" id="trailerContainer"></div>
        </div>

       <h3 id="txtPalabrasClave">Palabras Clave</h3>
        <div class="palabrasClave-container">
            <h2>Encuentrame por</h2>
                <div class="palabraClave" v-for="palabra in palabrasClave">
                    <h3>{{ palabra.name }}</h3>
                </div>
        </div>  

        <h2 id="txtTemporadas">Temporadas</h2>

        <div class="seasons-container">

            <div class="season-card" v-for="season in seasons" :key="season.id" @click="redirectToDetailsSeason(season.season_number,serie.name,serie.poster_path)">
                <h3>Temporada {{ season.season_number }}</h3>
                <p>Fecha de estreno: {{ season.air_date }}</p>
                <p>Número de episodios: {{ season.episode_count }}</p>
                <img :src="season.poster_path ? 'https://image.tmdb.org/t/p/w500' + season.poster_path : 'lostImg.png'" 
                    alt="Poster de la Temporada" 
                    class="season-poster">
                <p>{{ season.overview }}</p>
            </div>
        </div>


        <div class="cast-container">
            <h2>Reparto</h2>
            <!-- <button @click="scrollLeft">←</button> -->
            <div class="cast-carousel">
                <div class="cast-member" v-for="member in cast" :key="member.id">
                    <img :src="member.profile_path ? 'https://image.tmdb.org/t/p/w500' + member.profile_path : 'unknowPeople.png'" 
                         alt="Foto de {{ member.name }}" 
                         class="cast-member-photo">
                    <h3>{{ member.name }}</h3>
                    <p>Rol: {{ member.character }}</p>
                </div>
            </div>
          <!--   <button @click="scrollRight">→</button> -->
        </div>



        <div class="recommendations-container">
            <h2>Recomendaciones</h2>
            <div class="recommendations-carousel">
                <div class="recommendation" v-for="rec in recomendaciones" :key="rec.id" @click="goTvRecomended(rec.id)">

                    <img :src="rec.poster_path ? 'https://image.tmdb.org/t/p/w500' + rec.poster_path : ''" 
                        alt="Poster de {{ rec.name }}" 
                        class="recommendation-poster">
                    <h3>{{ rec.name }}</h3>
                </div>
            </div>
        </div>  


       





        <div v-if="message" class="message">{{ message }}</div>

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue;
        const urlParams = new URLSearchParams(window.location.search);
        const tvId = urlParams.get('id');
    
        createApp({
            setup() {
                const serie = ref({});
                const seasons = ref({}); 
                const cast = ref([]); 
                const carouselRef = ref(null); 
                const recomendaciones = ref({});
                const favoriteSeries = ref([]); 
                const userRating = ref(0);
                const message = ref('');
                const palabrasClave = ref({}); 


                const logout = () => {
                    console.log("sadas")
                    localStorage.removeItem('username');
                    localStorage.removeItem('token'); 
                    window.location.href = 'login.html'; 
                };


                const showMessage = (msg) => {
                    message.value = msg;
                    setTimeout(() => {
                        message.value = '';
                    }, 3000);
                };

                

                const addRate = async (idSerie) => {

                    const sessionId = localStorage.getItem('session_id');
                    const apiKey = '9613de54abfdef52d6a1ca920c995060'; 
                    const accountId = localStorage.getItem('account_id');

                    if (!sessionId || !accountId) {
                        console.error('No se puede agregar la calificación. Asegúrate de estar logueado.');
                        return;
                    }

                    const addRateUrl = `https://api.themoviedb.org/3/tv/${idSerie}/rating?api_key=${apiKey}&session_id=${sessionId}`;
                    const data = { value: userRating.value };

                    if (userRating.value < 1) {
                        showMessage("La calificación debe ser mayor que 0");
                        return;
                    }else{
                        showMessage("Calificación agregada");
                    }
                   
                        

                    try {
                        const response = await fetch(addRateUrl, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data)
                        });
                        const result = await response.json();
                        if (result.success) {
                            console.log('Calificación añadida:', result);
                            userRating.value = 0; 
                        } else {
                            console.error('Error al añadir la calificación:', result.status_message);
                        }
                    } catch (error) {
                        console.error('Error al añadir la calificación:', error);
                    }
                };

                const removeRate = async (idSerie) => {
                    const sessionId = localStorage.getItem('session_id');
                    const apiKey = '9613de54abfdef52d6a1ca920c995060'; 
                    const accountId = localStorage.getItem('account_id');

                    if (!sessionId || !accountId) {
                        console.error('No se puede eliminar la calificación. Asegúrate de estar logueado.');
                        return;
                    }

                    const removeRateUrl = `https://api.themoviedb.org/3/tv/${idSerie}/rating?api_key=${apiKey}&session_id=${sessionId}`;
                    const data = { value: 0 }; 

                    showMessage("Calificación eliminada");
                  

                    try {
                        const response = await fetch(removeRateUrl, {
                            method: 'DELETE',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data)
                        });
                        const result = await response.json();
                        if (result.success) {
                            console.log('Calificación eliminada:', result);
                            userRating.value = 0; 
                        } else {
                            console.error('Error al eliminar la calificación:', result.status_message);
                        }
                    } catch (error) {
                        console.error('Error al eliminar la calificación:', error);
                    }
                };

              


                const fetchSerie = async (id) => {
                try {
                    const response = await fetch(`https://api.themoviedb.org/3/tv/${id}?language=en-US`, {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1ZmY3NTQxNDdmZDNlZWQ1Y2ZjOGVlY2Q2OGM5OTBkMCIsIm5iZiI6MTcyODk3MzExNS44MDg3MTksInN1YiI6IjY3MDc2ZmE3ZDA2MTZjN2IxOWZiMzg2ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qYsfL57ntOCQMRpvPTUGO61X-BPtm1C8DpDtAxfLNXg',
                        'accept': 'application/json'
                    }
                    });

                    if (!response.ok) {
                    throw new Error('Error al obtener la serie');
                    }

                    const data = await response.json();
                    serie.value = data;
                } catch (error) {
                    console.error('Error al obtener la serie:', error);
                }
                };

                const fetchTrailers = async (tvId) => {
                   
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    
                    try {
                        const response = await fetch( `https://api.themoviedb.org/3/tv/${tvId}/videos?api_key=${apiKey}&language=en-US`, {
                        headers: {
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1ZmY3NTQxNDdmZDNlZWQ1Y2ZjOGVlY2Q2OGM5OTBkMCIsIm5iZiI6MTcyODk3MzExNS44MDg3MTksInN1YiI6IjY3MDc2ZmE3ZDA2MTZjN2IxOWZiMzg2ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qYsfL57ntOCQMRpvPTUGO61X-BPtm1C8DpDtAxfLNXg',
                            'accept': 'application/json'
                        }
                        });

                        if (!response.ok) {
                        throw new Error('Error al obtener el trailer');
                        }

                        const data = await response.json();
                       const trailers = data.results.filter(video => video.type === 'Trailer');

                        const trailerContainer = document.getElementById('trailerContainer');
                        trailers.forEach(trailer => {
                            const trailerElement = document.createElement('div');
                            trailerElement.className = 'trailer';
                            trailerElement.innerHTML = `
                                <h3>${trailer.name}</h3>
                                <iframe width="320" height="180" src="https://www.youtube.com/embed/${trailer.key}" frameborder="0" allowfullscreen></iframe>
                            `;
                            trailerContainer.appendChild(trailerElement);
                        });
                    } catch (error) {
                        console.error('Error al obtener la serie:', error);
                    }
                };


                const fetchAllSeasons = async (tvId) => {
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    try {
                        const response = await fetch(`https://api.themoviedb.org/3/tv/${tvId}?api_key=${apiKey}&language=en-US`);
                        
                        if (!response.ok) {
                            throw new Error('Error al obtener la serie');
                        }

                        const data = await response.json();
                        seasons.value = data.seasons.filter(season => season.season_number > 0);
                    } catch (error) {
                        console.error('Error:', error);
                    }
                };

                const fetchCast = async (tvId) => {
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    try {
                        const response = await fetch(`https://api.themoviedb.org/3/tv/${tvId}/credits?api_key=${apiKey}&language=en-US`);
                        
                        if (!response.ok) {
                            throw new Error('Error al obtener el reparto');
                        }

                        const data = await response.json();
                        cast.value = data.cast; 
                    } catch (error) {
                        console.error('Error:', error);
                    }
                };

                const scrollLeft = () => {
                    const carousel = document.querySelector('.cast-carousel');
                    carousel.scrollBy({ left: -200, behavior: 'smooth' });
                };

                const scrollRight = () => {
                    const carousel = document.querySelector('.cast-carousel');
                    carousel.scrollBy({ left: 200, behavior: 'smooth' });
                };


                const fetchRecommendations = async (tvId) => {
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    try {
                        const response = await fetch(`https://api.themoviedb.org/3/tv/${tvId}/recommendations?api_key=${apiKey}&language=en-US`);
                        
                        if (!response.ok) {
                            throw new Error('Error al obtener recomendaciones');
                        }

                        const data = await response.json();
                        console.log("Recomendaciones:", data.results);
                        recomendaciones.value = data.results; 
                    } catch (error) {
                        console.error('Error:', error);
                    }
                };

                const fetchKeywords = async (tvId) => {
                    const apiKey = '8a758308cbfef2cba726df108d9563fa';
                    const url = `https://api.themoviedb.org/3/tv/${tvId}/keywords?api_key=${apiKey}`;

                    try {
                        const response = await fetch(url);
                        if (!response.ok) {
                            throw new Error('Error al obtener las palabras clave');
                        }
                        const data = await response.json();

                        console.log("datosss:", data.results);
                        palabrasClave.value = data.results; 
                       // return data.keywords; 
                    } catch (error) {
                        console.error('Error:', error);
                    }
                };

                fetchKeywords(tvId)
                fetchRecommendations(tvId);
                fetchCast(tvId);
                fetchTrailers(tvId); 
                fetchSerie(tvId); 
                fetchAllSeasons(tvId);

                return {
                    serie,
                    seasons,
                    cast,
                    cast,
                    carouselRef,
                    scrollLeft,
                    scrollRight,
                    recomendaciones,
                    favoriteSeries: [],
                    addRate,
                    removeRate,
                    userRating,
                    message,
                    showMessage,
                    palabrasClave
                    
                };
            },
            methods: {
                scrollLeft() {
                    const carousel = this.$el.querySelector('.cast-carousel');
                    carousel.scrollBy({ left: -200, behavior: 'smooth' });
                },
                scrollRight() {
                    const carousel = this.$el.querySelector('.cast-carousel');
                    carousel.scrollBy({ left: 200, behavior: 'smooth' });
                },
                redirectToDetailsSeason(idSeason,nameSeason,imgSeason) {
                    window.location.href = `DetalleTemporada.html?id=${tvId}&idSeason=${idSeason}&nameSeason=${nameSeason}&imgSeason=${imgSeason}`;
                }, 

                goTvRecomended(tvId) {


                    window.location.href = `DetalleSerie.html?id=${tvId}`;

                }, 
                goHome(){
                    window.location.href = `home.html`;

                },

                logout(){
                    localStorage.removeItem('username');
                    localStorage.removeItem('token'); 
                    window.location.href = 'login.html'; 
                },



        

              
                removeFavoriteSerie(idSerie) {
                    const sessionId = localStorage.getItem('session_id');
                    const apiKey = '9613de54abfdef52d6a1ca920c995060';
                    const accountId = localStorage.getItem('account_id');

                    if (!sessionId || !accountId) {
                        console.error('No se puede eliminar de favoritos. Asegúrate de estar logueado.', accountId);
                        return;
                    }

                    const removeFromFavoritesUrl = `https://api.themoviedb.org/3/account/${accountId}/favorite?api_key=${apiKey}&session_id=${sessionId}`;
                    const data = {
                        media_type: 'tv',
                        media_id: idSerie,
                        favorite: false
                    };

                    fetch(removeFromFavoritesUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            this.favoriteSeries = this.favoriteSeries.filter(id => id !== idSerie); 

                           this.showMessage("Favorito eliminado");

                            console.log('Favorito eliminado:', data);
                        } else {
                            console.error('Error al eliminar de favoritos:', data.status_message);
                        }
                    })
                    .catch(error => {
                        console.error('Error al eliminar de favoritos:', error);
                    });
                },

                addFavoriteSerie(idSerie) {
                    const sessionId = localStorage.getItem('session_id');
                    const apiKey = '9613de54abfdef52d6a1ca920c995060';
                    const accountId = localStorage.getItem('account_id');

                    if (!sessionId || !accountId) {
                        console.error('No se puede agregar a favoritos. Asegúrate de estar logueado.', accountId);
                        return;
                    }

                    const addToFavoritesUrl = `https://api.themoviedb.org/3/account/${accountId}/favorite?api_key=${apiKey}&session_id=${sessionId}`;
                    const data = {
                        media_type: 'tv',
                        media_id: idSerie,
                        favorite: true
                    };

                    fetch(addToFavoritesUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            this.favoriteSeries.push(idSerie); 

                            this.showMessage("Favorito Agregado");

                            console.log('Favorito agregado:', data);
                        } else {
                            console.error('Error al agregar a favoritos:', data.status_message);
                        }
                    })
                    .catch(error => {
                        console.error('Error al agregar a favoritos:', error);
                    });
                },

                showMessage(msg) {
                    this.message = msg;
                    setTimeout(() => {
                        this.message = '';
                    }, 3000); 
                },


            }


        }).mount('#app');
        let lastScrollTop = 0;
        const navBar = document.querySelector('nav');

        window.addEventListener('scroll', function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
            
            navBar.style.top = "-80px"; 
        } else {
            // Scrolling up
            navBar.style.top = "0"; 
        }

        lastScrollTop = scrollTop;
        });

    </script>
</body>
</html>