<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Película</title>
    <link rel="stylesheet" href="styleMovieDetails.css">
</head>

<body>
    <div id="app">

        <nav>
            <img src="casa.png" @click="goHome" class="clickable-image">
        </nav>

        <div id="divDetailMovie">
            <div class="background">
                <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie Poster">
                <div class="overlay"></div>
            </div>
            <div class="content">
                <h2>{{ movie.title }}</h2>
                <div class="movie-info">
                    <div class="movie-card">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie Poster">
                    </div>
                    <div class="movie-details">
                        <p><strong>Fecha de lanzamiento: </strong>{{ movie.release_date }}</p>
                        <p><strong>Duración: </strong>{{ movie.runtime }} minutos</p>
                        <p><strong>Descripción: </strong>{{ movie.overview }}</p>
                        <p id="txtCategorias">
                            <strong>Categorías: </strong>
                            <span v-for="(genre, index) in movie.genres" :key="genre.id">
                                {{ genre.name }}<span v-if="index < movie.genres.length - 1">, </span>
                            </span>
                        </p>
                        <p class="rating">
                            <span v-for="star in 5" :key="star" class="star"
                                :class="{ filled: star <= Math.round(movie.vote_average / 2) }">&#9733;</span>
                            <span class="rating-value">{{ movie.vote_average }}</span>
                        </p>
                    </div>
                </div>
                <!-- Calificación del usuario -->
                <input v-model="userRating" type="number" min="0" max="10" placeholder="Calificación (0-10)">
                <button @click="rateMovie">Añadir Rate</button>
                <button @click="deleteRate">Eliminar Rate</button>

                <!-- Botón de favoritos -->
                <button @click="toggleFavorite">
                    {{ isFavorite ? 'Eliminar de favoritos' : 'Añadir a favoritos' }}
                </button>
            </div>
        </div>

        <!-- Trailer -->
        <div class="trailer">
            <h2>Trailer</h2>
            <div class="trailer-container" id="trailerContainer"></div>
        </div>

        <!-- Reparto -->
        <div class="cast-container">
            <h2>Reparto</h2>
            <div class="cast-carousel">
                <div class="cast-member" v-for="member in cast" :key="member.id"   @click="redirectToActorDetails(member.id)">
                    <img :src="member.profile_path ? 'https://image.tmdb.org/t/p/w500' + member.profile_path : 'unknowPeople.png'"
                        alt="Foto de {{ member.name }}" class="cast-member-photo">
                    <h3>{{ member.name }}</h3>
                    <p>Rol: {{ member.character }}</p>
                </div>
            </div>
        </div>

        <!-- Palabras clave -->
        <div class="keywords-container">
            <h2>Palabras clave</h2>
            <ul>
                <li v-for="keyword in keywords" :key="keyword.id">{{ keyword.name }}</li>
            </ul>
        </div>

        <!-- Recomendaciones -->
        <div class="recommendations-container">
            <h2>Recomendaciones</h2>
            <div class="recommendations-carousel">
                <div class="recommendation" v-for="rec in recomendaciones" :key="rec.id" @click="goToMovie(rec.id)"
                    class="clickable-recommendation">
                    <img :src="rec.poster_path ? 'https://image.tmdb.org/t/p/w500' + rec.poster_path : ''"
                        alt="Poster de {{ rec.title }}" class="recommendation-poster">
                    <h3>{{ rec.title }}</h3>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, onMounted } = Vue;
        const urlParams = new URLSearchParams(window.location.search);
        const movieId = urlParams.get('id');

        createApp({
            setup() {
                const movie = ref({});
                const cast = ref([]);
                const recomendaciones = ref([]);
                const keywords = ref([]);
                const isFavorite = ref(false);
                const userRating = ref(0);

                const apiKey = '9613de54abfdef52d6a1ca920c995060';

                const goToMovie = (id) => {
                    window.location.href = `movieDetails.html?id=${id}`;
                };

                const fetchMovie = async (id) => {
                    const movieResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}?api_key=${apiKey}&language=es-MX`);
                    movie.value = await movieResponse.json();
                };

                const fetchTrailers = async (id) => {
                    const trailerResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}/videos?api_key=${apiKey}&language=es-MX`);
                    const trailers = (await trailerResponse.json()).results.filter(video => video.type === 'Trailer');
                    const trailerContainer = document.getElementById('trailerContainer');
                    trailers.forEach(trailer => {
                        const trailerElement = document.createElement('div');
                        trailerElement.innerHTML = `<iframe width="320" height="180" src="https://www.youtube.com/embed/${trailer.key}" frameborder="0" allowfullscreen></iframe>`;
                        trailerContainer.appendChild(trailerElement);
                    });
                };

                const fetchCast = async (id) => {
                    const castResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}/credits?api_key=${apiKey}&language=es-MX`);
                    cast.value = (await castResponse.json()).cast;
                };

                const fetchKeywords = async (id) => {
                    const keywordsResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}/keywords?api_key=${apiKey}`);
                    keywords.value = (await keywordsResponse.json()).keywords;
                };

                const fetchRecommendations = async (id) => {
                    const recResponse = await fetch(`https://api.themoviedb.org/3/movie/${id}/recommendations?api_key=${apiKey}&language=es-MX`);
                    recomendaciones.value = (await recResponse.json()).results;
                };

                const toggleFavorite = () => {
                    const favorites = JSON.parse(localStorage.getItem('favorites')) || [];
                    if (isFavorite.value) {
                        const updatedFavorites = favorites.filter(favId => favId !== movieId);
                        localStorage.setItem('favorites', JSON.stringify(updatedFavorites));
                        isFavorite.value = false;
                    } else {
                        favorites.push(movieId);
                        localStorage.setItem('favorites', JSON.stringify(favorites));
                        isFavorite.value = true;
                    }
                };

                const rateMovie = () => {
                    localStorage.setItem(`rating_${movieId}`, userRating.value);
                };

                const deleteRate = () => {
                    localStorage.removeItem(`rating_${movieId}`);
                    userRating.value = 0;
                };

                onMounted(() => {
                    fetchMovie(movieId);
                    fetchTrailers(movieId);
                    fetchCast(movieId);
                    fetchKeywords(movieId);
                    fetchRecommendations(movieId);

                    const favorites = JSON.parse(localStorage.getItem('favorites')) || [];
                    isFavorite.value = favorites.includes(movieId);
                    userRating.value = localStorage.getItem(`rating_${movieId}`) || 0;
                });

                return {
                    movie,
                    cast,
                    recomendaciones,
                    keywords,
                    isFavorite,
                    userRating,
                    toggleFavorite,
                    rateMovie,
                    deleteRate,
                    goHome() {
                        window.location.href = 'home.html';
                    },
                    goToMovie
                };
            },

            methods: {

                redirectToActorDetails(actorId) {
                    window.location.href = `detailsActor.html?id=${actorId}`;
                }



            }



        }).mount('#app');
    </script>
</body>

</html>